@{
    ViewData["Title"] = "Home Page";
}


<div class="sup">
    <h1>Linaje <img src="~/Icons/atom.svg" /> </h1>

    <h2>Productos de alta calidad para ti</h2>

    

    <div class="images">
        <img src="~/Icons/pngwing.com.png" />
        <img src="~/Icons/pngwing.com (1).png" />
        <img src="~/Icons/2.png" />
    </div>

</div>

<style>
    h1 {
        text-align: center;
        margin-top:20px;
        font-weight:bold;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
        font-weight: bold
    }

    .images img{
        width:400px;
        height:400px;
    }




    h1 img{
        width:100px;
        height:100px

    }

    body {
        font-family: "Red Hat Text", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: italic;
    }
</style>